<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62aa67">  <td>18/03/27 12:47:46</td>   <td>0</td> <td title="&lt;&lt;BaseTest.closeFramework()[pri:0, instance:in.licious.test.RedMeatsCOD@20398b7c]">&lt;&lt;closeFramework</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/03/27 12:46:15</td>   <td>-90736</td> <td title="&gt;&gt;BaseTest.initFramework()[pri:0, instance:in.licious.test.RedMeatsCOD@20398b7c]">&gt;&gt;initFramework</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/03/27 12:46:15</td>   <td>-90622</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.initGlobalConstants()[pri:0, instance:in.licious.test.RedMeatsCOD@20398b7c]">&gt;&gt;initGlobalConstants</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/03/27 12:46:15</td>   <td>-90610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:in.licious.test.RedMeatsCOD@20398b7c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/03/27 12:47:43</td>   <td>-2209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:in.licious.test.RedMeatsCOD@20398b7c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>18/03/27 12:46:39</td>   <td>-66833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RedMeatsCOD.testredmeatscod()[pri:3, instance:in.licious.test.RedMeatsCOD@20398b7c]">testredmeatscod</td> 
  <td>main@1354011814</td>   <td></td> </tr>
</table>
