<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Smoke</td><td>Chicken.testChicken()[pri:1, instance:in.licious.test.Chicken@5abca1e0]<br/></td></tr>
</table>
