<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fbd876">  <td>18/03/26 10:58:56</td>   <td>0</td> <td title="&gt;&gt;BaseTest.initFramework()[pri:0, instance:in.licious.test.Chicken@5abca1e0]">&gt;&gt;initFramework</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/03/26 10:58:56</td>   <td>103</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.initGlobalConstants()[pri:0, instance:in.licious.test.Chicken@5abca1e0]">&gt;&gt;initGlobalConstants</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/03/26 10:58:56</td>   <td>116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:in.licious.test.Chicken@5abca1e0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>18/03/26 10:59:25</td>   <td>29524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Chicken.testChicken()[pri:1, instance:in.licious.test.Chicken@5abca1e0]">testChicken</td> 
  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/03/26 10:59:29</td>   <td>33249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:in.licious.test.Chicken@5abca1e0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/03/26 10:59:29</td>   <td>33411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:in.licious.test.MarinadesCOD@2286778]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/03/26 10:59:49</td>   <td>53033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MarinadesCOD.testmarinadescod()[pri:2, instance:in.licious.test.MarinadesCOD@2286778]">testmarinadescod</td> 
  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/03/26 10:59:54</td>   <td>58084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:in.licious.test.MarinadesCOD@2286778]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/03/26 10:59:56</td>   <td>60313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:in.licious.test.RedMeatsCOD@527740a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>18/03/26 11:00:08</td>   <td>72424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RedMeatsCOD.testredmeatscod()[pri:3, instance:in.licious.test.RedMeatsCOD@527740a2]">testredmeatscod</td> 
  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/03/26 11:00:13</td>   <td>77276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:in.licious.test.RedMeatsCOD@527740a2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/03/26 11:00:15</td>   <td>79592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:in.licious.test.FishandSeafoodCOD@4e9ba398]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/03/26 11:00:34</td>   <td>98240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FishandSeafoodCOD.testfishandseafood()[pri:4, instance:in.licious.test.FishandSeafoodCOD@4e9ba398]">testfishandseafood</td> 
  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/03/26 11:00:39</td>   <td>102840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:in.licious.test.FishandSeafoodCOD@4e9ba398]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/03/26 11:00:41</td>   <td>105153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:in.licious.test.EggsCOD@6d7b4f4c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/03/26 11:00:51</td>   <td>115749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EggsCOD.testeggscod()[pri:5, instance:in.licious.test.EggsCOD@6d7b4f4c]">testeggscod</td> 
  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/03/26 11:00:59</td>   <td>122966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:in.licious.test.EggsCOD@6d7b4f4c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/03/26 11:01:01</td>   <td>125417</td> <td title="&lt;&lt;BaseTest.closeFramework()[pri:0, instance:in.licious.test.Chicken@5abca1e0]">&lt;&lt;closeFramework</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
</table>
